<div class="footer-menu">
    <a href="/archives/">文章归档</a> · <a href="/tags/">文章标签</a> · <a href="/about/">关于本站</a> · <a href="/sitemap.xml">站点地图</a> · <a href={{ config.author_url }} target="_blank">关于作者</a>
</div>
