// Margin
// $content-desktop              = 85%;
// $content-desktop-large        = 80%;
// $content-desktop-largest      = 60%;
$myradius                     = 8px;

// Color
// $myday                        = #ffffff;
$mydark                       = #0d1117;
$mydarkless                   = #161b22;
$mydark-light                 = #21262d;
$mygradient-light             = linear-gradient(#FDF5EC 0%, #FCF2EE 15%, #FBEEF2 30%, #F6F0F6 44%, #F1F0F7 58%, #ECF3F7 72%, #EDF7F5 86%, #F2F8F3 100%);
$mygradient                   = linear-gradient(#000c40, #f0f2f0);


// $body-bg-color                = $myday;
$body-bg-color-dark           = $mydark;
$content-bg-color-dark        = $mydarkless;
$card-bg-color-dark           = $mydark-light;

// $text-color                   = #313135;
$text-color-dark              = #d4d4d4;

$link-color                   = $text-color;
$link-color-dark              = $text-color-dark;

$link-hover-color             = #08599b;
$link-hover-color-dark        = #6aa8ca;

// image
$images_path                  = hexo-config('images');
$site-brand-bg-url            = $images_path + 'bg.jpg';
